In [2]:
import numpy as np
import pandas as pd

In [3]:
df_loans = pd.read_csv("data/kiva_loans.csv")
df_regions = pd.read_csv("data/kiva_mpi_region_locations.csv")
df_themes = pd.read_csv("data/loan_theme_ids.csv")
df_themes_r = pd.read_csv("data/loan_themes_by_region.csv")

In [4]:
df_loans.groupby('term_in_months').median()[["funded_amount", "loan_amount", "lender_count"]]

                funded_amount  loan_amount  lender_count
term_in_months
1.0                     250.0        250.0           8.0
2.0                     125.0        125.0           7.0
3.0                     125.0        125.0           7.0
4.0                     300.0        300.0           7.0
5.0                     400.0        400.0           6.0
6.0                    1050.0       1050.0          13.0
7.0                     325.0        325.0           8.0
8.0                     300.0        300.0           8.0
9.0                     525.0        550.0          17.0
10.0                    500.0        525.0          14.0
11.0                    375.0        400.0          11.0
12.0                    400.0        425.0          12.0
13.0                    350.0        400.0          11.0
14.0                    475.0        500.0          14.0
15.0                    525.0        575.0          16.0
16.0                    525.0        550.0          16.0
17.0                    650.0        700.0          19.0
18.0                    725.0        750.0          21.0
19.0                    300.0        375.0           9.0
20.0                    750.0        875.0          24.0
21.0                    775.0        875.0          22.0
22.0                    900.0       1000.0          27.0
23.0                   1275.0       1425.0          37.5
24.0                   1690.0       4000.0          35.0
25.0                    650.0        800.0          20.0
26.0                   1000.0       1075.0          29.0
27.0                   1200.0       1400.0          34.0
28.0                   1400.0       1500.0          35.0
29.0                   1000.0       1100.0          28.0
30.0                   1387.5       1675.0          36.0
...                       ...          ...           ...
121.0                  9187.5       9725.0         294.5
122.0                   600.0        725.0          21.0
123.0                  5400.0       5400.0         180.0
124.0                  4825.0       4825.0         172.0
125.0                  7012.5       7012.5         218.5
126.0                  5850.0       5850.0         223.5
127.0                  5600.0       5600.0         202.0
128.0                  1750.0       1750.0          57.0
129.0                  6012.5       6012.5         189.5
130.0                  7475.0       7625.0         261.0
131.0                  1375.0       1375.0          50.0
132.0                  6700.0       6700.0         267.0
133.0                  1250.0       1250.0          46.0
134.0                  7037.5       7775.0         232.5
135.0                  8150.0       8525.0         300.5
136.0                  7650.0       7650.0         264.0
137.0                  5900.0       5900.0         196.0
138.0                  8862.5       8862.5         323.0
139.0                  8675.0       8675.0         275.0
141.0                  8200.0       8837.5         295.5
142.0                  8800.0       8800.0         297.0
143.0                  8337.5       8337.5         261.5
144.0                  8800.0       8800.0         332.0
145.0                  8950.0       8950.0         295.0
146.0                  6475.0       6475.0         186.0
147.0                  9300.0       9300.0         315.0
148.0                  9275.0       9275.0         319.0
154.0                  6675.0       6675.0         207.0
156.0                  8900.0       8900.0         253.0
158.0                  6725.0       6725.0         244.0

[148 rows x 3 columns]

In [5]:
df_loans

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,NaN,"female, female",irregular,2014-01-01
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01
3,653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,NaN,female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01
5,1080148,250.0,250.0,Services,Services,purchase leather for my business using ksh 20000.,KE,Kenya,NaN,KES,NaN,2014-01-01 10:06:19+00:00,2014-01-30 01:42:48+00:00,2014-01-29 14:14:57+00:00,4.0,6,NaN,female,irregular,2014-01-01
6,653067,200.0,200.0,Dairy,Agriculture,To purchase a dairy cow and start a milk produ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:51:02+00:00,2013-12-16 08:00:00+00:00,2014-01-01 17:18:09+00:00,43.0,8,"user_favorite, user_favorite",female,bullet,2014-01-01
7,653078,400.0,400.0,Beauty Salon,Services,to buy more hair and skin care products.,PK,Pakistan,Ellahabad,PKR,245.0,2014-01-01 11:46:01+00:00,2013-12-20 08:00:00+00:00,2014-01-10 18:18:44+00:00,14.0,8,"#Elderly, #Woman Owned Biz",female,monthly,2014-01-01
8,653082,475.0,475.0,Manufacturing,Manufacturing,"to purchase leather, plastic soles and heels i...",PK,Pakistan,Lahore,PKR,245.0,2014-01-01 11:49:43+00:00,2013-12-20 08:00:00+00:00,2014-01-01 18:47:21+00:00,14.0,19,user_favorite,female,monthly,2014-01-01
9,653048,625.0,625.0,Food Production/Sales,Food,"to buy a stall, gram flour, ketchup, and coal ...",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 05:41:03+00:00,2013-12-17 08:00:00+00:00,2014-01-03 15:45:04+00:00,11.0,24,NaN,female,irregular,2014-01-01
10,653060,200.0,200.0,Rickshaw,Transportation,to cover the cost of repairing rickshaw,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:32:39+00:00,2013-12-24 08:00:00+00:00,2014-01-01 12:18:55+00:00,11.0,3,NaN,female,irregular,2014-01-01
11,653088,400.0,400.0,Wholesale,Wholesale,"to purchase biscuits, sweets and juices in bulk.",PK,Pakistan,Faisalabad,PKR,245.0,2014-01-01 12:03:43+00:00,2013-12-16 08:00:00+00:00,2014-01-03 09:19:26+00:00,14.0,16,NaN,female,monthly,2014-01-01
12,653089,400.0,400.0,General Store,Retail,"to buy stock of rice, sugar and flour .",PK,Pakistan,Faisalabad,PKR,245.0,2014-01-01 12:04:57+00:00,2013-12-24 08:00:00+00:00,2014-01-08 00:35:14+00:00,14.0,16,"#Repeat Borrower, #Woman Owned Biz",female,monthly,2014-01-01
13,653062,400.0,400.0,Clothing Sales,Clothing,to purchase variety of winter clothes to sell.,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:57:58+00:00,2013-12-24 08:00:00+00:00,2014-01-02 15:47:37+00:00,12.0,10,NaN,female,irregular,2014-01-01
14,653075,225.0,225.0,Poultry,Agriculture,to expand her existing poultry farm business.,IN,India,Dhupguri,INR,334.0,2014-01-01 11:24:40+00:00,2013-12-20 08:00:00+00:00,2014-01-01 18:58:18+00:00,43.0,7,user_favorite,female,bullet,2014-01-01
15,653054,300.0,300.0,Rickshaw,Transportation,to buy a three-wheeled rickshaw.,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-02 00:04:08+00:00,11.0,9,NaN,female,irregular,2014-01-01
16,653091,400.0,400.0,General Store,Retail,"to buy packs of salts, biscuits and beverages.",PK,Pakistan,Faisalabad,PKR,245.0,2014-01-01 12:09:10+00:00,2013-12-09 08:00:00+00:00,2014-01-14 15:57:05+00:00,14.0,11,"#Woman Owned Biz, #Parent",female,monthly,2014-01-01
17,653052,875.0,875.0,Tailoring,Services,"To buy a sewing machine, lace, zippers and but...",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:25:41+00:00,2013-12-17 08:00:00+00:00,2014-01-01 18:07:34+00:00,11.0,25,NaN,"female, female, female",irregular,2014-01-01
18,653066,250.0,250.0,Sewing,Services,to purchase a sewing machine.,IN,India,Maynaguri,INR,334.0,2014-01-01 09:48:35+00:00,2013-12-13 08:00:00+00:00,2014-01-01 17:18:09+00:00,43.0,4,"user_favorite, user_favorite",female,bullet,2014-01-01
19,653080,475.0,475.0,Beauty Salon,Services,to buy more cosmetics products for her beauty ...,PK,Pakistan,Lahore,PKR,245.0,2014-01-01 11:48:08+00:00,2013-12-19 08:00:00+00:00,2014-01-10 03:22:29+00:00,14.0,18,#Woman Owned Biz,female,monthly,2014-01-01
20,653065,250.0,250.0,Bakery,Food,to buy ingredients to make bakery products.,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:26:34+00:00,2013-12-18 08:00:00+00:00,2014-01-01 15:35:59+00:00,11.0,10,NaN,female,irregular,2014-01-01
21,653055,350.0,350.0,Restaurant,Food,"to purchase vegetables, chicken, and oil to co...",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:14:40+00:00,2013-12-24 08:00:00+00:00,2014-01-01 21:54:18+00:00,12.0,13,NaN,female,irregular,2014-01-01
22,653050,575.0,575.0,Clothing Sales,Clothing,To buy winter clothing to sell,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:05:17+00:00,2013-12-17 08:00:00+00:00,2014-01-02 23:56:08+00:00,12.0,20,NaN,"female, female",irregular,2014-01-01
23,653079,350.0,350.0,Embroidery,Arts,to buy reels of threads in different colors an...,PK,Pakistan,Lahore,PKR,245.0,2014-01-01 11:47:03+00:00,2013-12-13 08:00:00+00:00,2014-01-01 15:45:51+00:00,14.0,6,NaN,female,monthly,2014-01-01
24,653061,250.0,250.0,Food Stall,Food,to purchase a variety of needed food items to ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:46:28+00:00,2013-12-24 08:00:00+00:00,2014-01-02 01:33:55+00:00,11.0,7,NaN,female,irregular,2014-01-01
25,653074,250.0,250.0,Farming,Agriculture,to purchase potato seeds and fertilizers for g...,IN,India,Dhupguri,INR,334.0,2014-01-01 11:13:09+00:00,2013-12-13 08:00:00+00:00,2014-01-01 19:01:19+00:00,43.0,9,NaN,female,bullet,2014-01-01
26,653069,250.0,250.0,Construction Supplies,Construction,to purchase stones for starting a business sup...,IN,India,Maynaguri,INR,334.0,2014-01-01 10:04:17+00:00,2013-12-10 08:00:00+00:00,2014-01-01 22:12:43+00:00,43.0,10,"user_favorite, user_favorite",female,bullet,2014-01-01
27,653056,475.0,475.0,Rickshaw,Transportation,to cover the cost of repairing rickshaw,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:20:09+00:00,2013-12-24 08:00:00+00:00,2014-01-01 20:26:48+00:00,12.0,17,NaN,female,irregular,2014-01-01
28,653071,125.0,125.0,Farming,Agriculture,to purchase potato seeds and fertilizers for g...,IN,India,Maynaguri,INR,334.0,2014-01-01 10:35:20+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:06:47+00:00,43.0,5,NaN,female,bullet,2014-01-01
29,653073,250.0,250.0,Farming,Agriculture,to purchase potato seeds and fertilizer for fa...,IN,India,Dhupguri,INR,334.0,2014-01-01 11:09:26+00:00,2013-12-19 08:00:00+00:00,2014-01-01 21:47:05+00:00,43.0,10,NaN,female,bullet,2014-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671175,1340274,75.0,125.0,Livestock,Agriculture,Pretend the flagged issue was addressed by KC.,MX,Mexico,Iztacalco,MXN,294.0,2017-07-21 23:31:40+00:00,2017-07-21 07:00:00+00:00,NaN,13.0,3,NaN,"female, female",monthly,2017-07-21
671176,1340259,0.0,50.0,Livestock,Agriculture,Edited loan use in english.,GH,Ghana,Dansoman,GHS,231.0,2017-07-21 15:54:42+00:00,2017-07-21 07:00:00+00:00,NaN,13.0,0,NaN,"female, female",monthly,2017-07-21
671177,1340279,25.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,NaN,KES,138.0,2017-07-22 06:04:07+00:00,2017-07-21 07:00:00+00:00,2017-07-24 12:44:16+00:00,13.0,1,NaN,female,monthly,2017-07-22
671178,1340280,0.0,25.0,Livestock,Agriculture,NaN,KE,Kenya,NaN,KES,138.0,2017-07-22 06:16:55+00:00,2017-07-21 07:00:00+00:00,NaN,13.0,0,NaN,NaN,monthly,2017-07-22
671179,1340282,0.0,25.0,Livestock,Agriculture,"[True, u'para compara: cemento, arenya y ladri...",PY,Paraguay,Concepción,USD,58.0,2017-07-22 06:49:47+00:00,2017-07-21 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-22
671180,1340286,0.0,725.0,Livestock,Agriculture,Translated loan use to english.,BO,Bolivia,La Paz,BOB,59.0,2017-07-23 22:11:47+00:00,2017-07-23 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-23
671181,1340285,0.0,25.0,Livestock,Agriculture,Reviewed loan use in english.,PK,Pakistan,Attock,PKR,245.0,2017-07-23 21:57:42+00:00,2017-07-23 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-23
671182,1340292,0.0,125.0,Livestock,Agriculture,Pretend the flagged issue was addressed by KC.,MX,Mexico,Iztacalco,MXN,294.0,2017-07-23 23:19:01+00:00,2017-07-23 07:00:00+00:00,NaN,13.0,0,NaN,"female, female",monthly,2017-07-23
671183,1340290,0.0,75.0,Livestock,Agriculture,Pretend the issue with spanish loan was addres...,MX,Mexico,Iztacalco,MXN,294.0,2017-07-23 22:56:35+00:00,2017-07-23 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-23
671184,1340287,0.0,875.0,Livestock,Agriculture,Translated loan use to english.,BO,Bolivia,La Paz,BOB,59.0,2017-07-23 22:25:39+00:00,2017-07-23 07:00:00+00:00,NaN,13.0,0,NaN,"female, female",monthly,2017-07-23
671185,1340298,0.0,25.0,Livestock,Agriculture,NaN,KE,Kenya,NaN,KES,138.0,2017-07-24 07:34:50+00:00,2017-07-17 07:00:00+00:00,NaN,13.0,0,NaN,NaN,monthly,2017-07-24
671186,1340300,25.0,25.0,Livestock,Agriculture,"[True, u'para compara: cemento, arenya y ladri...",PY,Paraguay,Concepción,USD,58.0,2017-07-24 08:09:10+00:00,2017-07-24 07:00:00+00:00,2017-07-25 00:19:01+00:00,13.0,1,NaN,female,monthly,2017-07-24
671187,1340297,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,NaN,KES,138.0,2017-07-24 07:14:47+00:00,2017-07-24 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-24
671188,1340302,0.0,250.0,Livestock,Agriculture,Reviewed loan use in english.,GH,Ghana,Dansoman,GHS,231.0,2017-07-24 21:36:17+00:00,2017-07-24 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-24
671189,1340315,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,NaN,KES,138.0,2017-07-25 05:59:38+00:00,2017-07-24 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-25
671190,1340321,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,NaN,KES,138.0,2017-07-25 16:24:08+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-25
671191,1340327,0.0,725.0,Livestock,Agriculture,Translated loan use to english.,BO,Bolivia,La Paz,BOB,59.0,2017-07-25 22:10:23+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-25
671192,1340328,0.0,875.0,Livestock,Agriculture,Translated loan use to english.,BO,Bolivia,La Paz,BOB,59.0,2017-07-25 22:27:44+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,"female, female",monthly,2017-07-25
671193,1340333,0.0,125.0,Livestock,Agriculture,Pretend the flagged issue was addressed by KC.,MX,Mexico,Iztacalco,MXN,294.0,2017-07-25 23:45:38+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,"female, female",monthly,2017-07-25
671194,1340332,0.0,25.0,Livestock,Agriculture,Kiva Coordinator fixed issue loan (no longer v...,KE,Kenya,NaN,KES,138.0,2017-07-25 23:29:57+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,"female, female",monthly,2017-07-25
671195,1340329,0.0,50.0,Livestock,Agriculture,Edited loan use in english.,GH,Ghana,Dansoman,GHS,231.0,2017-07-25 22:40:59+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,"female, female",monthly,2017-07-25
671196,1340325,0.0,250.0,Livestock,Agriculture,Reviewed loan use in english.,GH,Ghana,Dansoman,GHS,231.0,2017-07-25 21:36:20+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-25
671197,1340330,0.0,25.0,Livestock,Agriculture,Pretend the issue with loan got addressed by K...,KE,Kenya,NaN,KES,138.0,2017-07-25 22:55:42+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-25
671198,1340331,0.0,75.0,Livestock,Agriculture,Pretend the issue with spanish loan was addres...,MX,Mexico,Iztacalco,MXN,294.0,2017-07-25 23:13:50+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-25
671199,1340318,0.0,25.0,Livestock,Agriculture,"[True, u'para compara: cemento, arenya y ladri...",PY,Paraguay,Concepción,USD,58.0,2017-07-25 06:45:02+00:00,2017-07-24 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-25
671200,1340323,0.0,25.0,Livestock,Agriculture,"[True, u'para compara: cemento, arenya y ladri...",PY,Paraguay,Concepción,USD,58.0,2017-07-25 16:55:34+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-25
671201,1340316,25.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,NaN,KES,138.0,2017-07-25 06:14:08+00:00,2017-07-24 07:00:00+00:00,2017-07-26 02:09:43+00:00,13.0,1,NaN,female,monthly,2017-07-25
671202,1340334,0.0,25.0,Games,Entertainment,NaN,KE,Kenya,NaN,KES,138.0,2017-07-26 00:02:07+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,NaN,monthly,2017-07-26
671203,1340338,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,NaN,KES,138.0,2017-07-26 06:12:55+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-26
671204,1340339,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,NaN,KES,138.0,2017-07-26 06:31:46+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-26

In [6]:
df_loans.groupby('sector').median()[["funded_amount", "loan_amount", "lender_count"]]

                funded_amount  loan_amount  lender_count
sector
Agriculture             500.0        500.0          14.0
Arts                    475.0        475.0          15.0
Clothing                550.0        600.0          16.0
Construction            650.0        700.0          19.0
Education               700.0        725.0          21.0
Entertainment           650.0        887.5          20.5
Food                    425.0        450.0          12.0
Health                  650.0        725.0          20.0
Housing                 475.0        500.0          15.0
Manufacturing           500.0        500.0          16.0
Personal Use            200.0        200.0           7.0
Retail                  400.0        425.0          11.0
Services                500.0        550.0          15.0
Transportation          425.0        450.0          12.0
Wholesale               925.0        950.0          27.0

In [14]:
with pd.option_context('display.max_rows', None):
    print(df_loans.groupby('activity').median()[['funded_amount', 'loan_amount', 'lender_count']])
    print("\n******************")
    print(df_loans.groupby('activity').count())

                                funded_amount  loan_amount  lender_count
activity
Adult Care                             1687.5       1687.5          51.5
Agriculture                             600.0        650.0          17.0
Air Conditioning                        875.0        875.0          22.5
Animal Sales                            600.0        625.0          17.0
Aquaculture                             450.0        512.5          12.5
Arts                                    450.0        500.0          15.0
Auto Repair                             750.0        875.0          20.0
Bakery                                  700.0        750.0          20.0
Balut-Making                            300.0        300.0           9.0
Barber Shop                             525.0        600.0          16.0
Beauty Salon                            500.0        575.0          14.0
Beekeeping                             1412.5       1500.0          32.0
Beverages                               600.0        650.0          16.0
Bicycle Repair                          500.0        500.0          16.0
Bicycle Sales                           650.0        650.0          19.5
Blacksmith                              550.0        550.0          16.0
Bookbinding                             675.0        675.0          21.0
Bookstore                               950.0        975.0          23.0
Bricks                                  500.0        500.0          15.0
Butcher Shop                            525.0        600.0          14.0
Cafe                                    687.5        750.0          19.0
Call Center                             400.0        400.0          12.0
Carpentry                               650.0        700.0          20.0
Catering                                675.0        700.0          18.0
Cattle                                  700.0        825.0          20.0
Celebrations                            200.0        200.0           8.0
Cement                                 1000.0       1000.0          30.0
Cereals                                 350.0        400.0          10.0
Charcoal Sales                          325.0        325.0           9.0
Cheese Making                          1000.0       1025.0          30.0
Child Care                             1500.0       2000.0          43.0
Cleaning Services                      1825.0       2400.0          33.0
Cloth & Dressmaking Supplies            450.0        450.0          14.0
Clothing                                525.0        600.0          16.0
Clothing Sales                          600.0        650.0          16.0
Cobbler                                 500.0        525.0          16.0
Communications                         1000.0       3750.0          28.0
Computer                                900.0        912.5          24.0
Computers                               662.5        675.0          18.0
Construction                            675.0        750.0          20.0
Construction Supplies                   725.0        750.0          20.0
Consumer Goods                          600.0        625.0          14.0
Cosmetics Sales                         600.0        700.0          15.0
Crafts                                  575.0        600.0          17.0
Dairy                                   400.0        450.0          13.0
Decorations Sales                       600.0        700.0          18.0
Dental                                 1000.0       1000.0          27.5
Education provider                     1025.0       1050.0          32.0
Electrical Goods                        800.0        925.0          22.0
Electrician                             650.0        700.0          19.5
Electronics Repair                      575.0        625.0          16.0
Electronics Sales                       612.5        725.0          15.0
Embroidery                              425.0        425.0          14.0
Energy                                  250.0        250.0          15.5
Entertainment                           700.0       1025.0          20.0
Event Planning                         1375.0       1375.0          46.0
Farm Supplies                           500.0        600.0          15.0
Farming                                 450.0        500.0          13.0
Film                                   1525.0       1525.0          36.0
Fish Selling                            325.0        325.0           9.0
Fishing                                 350.0        350.0           9.0
Florist                                1000.0       1250.0          28.0
Flowers                                 450.0        450.0          13.0
Food                                    425.0        450.0          11.0
Food Market                             450.0        500.0          13.0
Food Production/Sales                   425.0        450.0          12.0
Food Stall                              500.0        525.0          14.0
Fruits & Vegetables                     400.0        425.0          11.0
Fuel/Firewood                           350.0        350.0          10.0
Funerals                                650.0        650.0          22.0
Furniture Making                        575.0        575.0          17.0
Games                                   600.0        600.0          19.5
General Store                           350.0        350.0           9.0
Goods Distribution                     1000.0       1000.0          29.0
Grocery Store                           550.0        600.0          16.0
Hardware                                675.0        775.0          17.0
Health                                  975.0       1000.0          31.0
Higher education costs                  700.0        725.0          21.0
Home Appliances                         175.0        175.0           5.0
Home Energy                             350.0        375.0          12.0
Home Products Sales                     575.0        625.0          15.0
Hotel                                   625.0        712.5          16.0
Internet Cafe                           550.0        600.0          14.0
Jewelry                                 500.0        550.0          13.0
Knitting                                700.0        700.0          17.5
Land Rental                             600.0        675.0          20.0
Landscaping / Gardening                3775.0       5000.0          49.5
Laundry                                 550.0        600.0          15.0
Liquor Store / Off-License              350.0        375.0           9.0
Livestock                               750.0        825.0          22.0
Machine Shop                            575.0        575.0          19.0
Machinery Rental                        575.0        575.0          19.0
Manufacturing                           475.0        475.0          14.0
Medical Clinic                          775.0        775.0          22.0
Metal Shop                              650.0        650.0          19.0
Milk Sales                              450.0        450.0          14.0
Mobile Phones                           675.0        825.0          19.0
Mobile Transactions                     737.5        837.5          24.0
Motorcycle Repair                       600.0        650.0          18.0
Motorcycle Transport                    350.0        350.0          10.0
Movie Tapes & DVDs                      575.0        575.0          14.0
Music Discs & Tapes                     750.0        775.0          24.0
Musical Instruments                    1050.0       1050.0          32.0
Musical Performance                     800.0        800.0          21.0
Natural Medicines                       650.0        650.0          14.0
Office Supplies                         675.0        700.0          17.0
Paper Sales                             700.0        800.0          20.0
Party Supplies                          700.0        712.5          21.5
Patchwork                               450.0        450.0          13.0
Perfumes                               1000.0       1025.0          18.0
Personal Care Products                  475.0        475.0          18.0
Personal Expenses                       225.0        225.0           7.0
Personal Housing Expenses               475.0        500.0          14.0
Personal Medical Expenses               600.0        650.0          18.0
Personal Products Sales                 350.0        400.0           9.0
Pharmacy                                900.0        900.0          24.0
Phone Accessories                       600.0        700.0          16.0
Phone Repair                            750.0        800.0          21.0
Phone Use Sales                         525.0        625.0          13.0
Photography                             750.0        800.0          22.0
Pigs                                    300.0        300.0           9.0
Plastics Sales                          500.0        500.0          13.0
Poultry                                 500.0        500.0          16.0
Primary/secondary school costs          575.0        575.0          15.0
Printing                                700.0        725.0          17.0
Property                                700.0        800.0          20.0
Pub                                     600.0        675.0          16.0
Quarrying                               412.5        412.5          14.0
Recycled Materials                      400.0        400.0          12.0
Recycling                               500.0        500.0          15.0
Religious Articles                      412.5        412.5          12.0
Renewable Energy Products              1000.0       1000.0          30.0
Restaurant                              650.0        700.0          15.0
Retail                                  500.0        550.0          13.0
Rickshaw                                400.0        400.0          12.0
Secretarial Services                    600.0        600.0          18.0
Services                                525.0        675.0          16.0
Sewing                                  650.0        650.0          18.0
Shoe Sales                              550.0        625.0          14.0
Souvenir Sales                          650.0        675.0          18.0
Spare Parts                             650.0        750.0          16.0
Sporting Good Sales                     350.0        350.0          13.5
Tailoring                               375.0        400.0          12.0
Taxi                                    650.0        750.0          17.0
Technology                             1000.0       5000.0          23.0
Textiles                                675.0        700.0          23.0
Timber Sales                            500.0        500.0          14.0
Tourism                                1175.0       1200.0          19.0
Transportation                          450.0        500.0          13.0
Traveling Sales                         550.0        550.0          16.0
Upholstery                              750.0        750.0          22.0
Used Clothing                           450.0        475.0          13.0
Used Shoes                              650.0        675.0          15.0
Utilities                               800.0        850.0          22.0
Vehicle                                1000.0       1000.0          26.0
Vehicle Repairs                         625.0        700.0          17.0
Veterinary Sales                        550.0        550.0          15.0
Waste Management                        600.0        600.0          19.0
Water Distribution                      525.0        525.0          15.0
Weaving                                 350.0        350.0          11.0
Wedding Expenses                        675.0        925.0          19.0
Well digging                            750.0        750.0          25.0
Wholesale                               850.0        875.0          24.0

******************

                                   id  funded_amount  loan_amount  sector  \
activity
Adult Care                          2              2            2       2
Agriculture                     27023          27023        27023   27023
Air Conditioning                   36             36           36      36
Animal Sales                     9237           9237         9237    9237
Aquaculture                       108            108          108     108
Arts                             1092           1092         1092    1092
Auto Repair                      1336           1336         1336    1336
Bakery                           3620           3620         3620    3620
Balut-Making                       61             61           61      61
Barber Shop                       951            951          951     951
Beauty Salon                     6611           6611         6611    6611
Beekeeping                         50             50           50      50
Beverages                        2357           2357         2357    2357
Bicycle Repair                    158            158          158     158
Bicycle Sales                      54             54           54      54
Blacksmith                        444            444          444     444
Bookbinding                        29             29           29      29
Bookstore                         442            442          442     442
Bricks                            512            512          512     512
Butcher Shop                     1968           1968         1968    1968
Cafe                             1404           1404         1404    1404
Call Center                        74             74           74      74
Carpentry                         754            754          754     754
Catering                          653            653          653     653
Cattle                           7865           7865         7865    7865
Celebrations                        5              5            5       5
Cement                            152            152          152     152
Cereals                          7898           7898         7898    7898
Charcoal Sales                   4421           4421         4421    4421
Cheese Making                     347            347          347     347
Child Care                        183            183          183     183
Cleaning Services                 145            145          145     145
Cloth & Dressmaking Supplies     2071           2071         2071    2071
Clothing                         5014           5014         5014    5014
Clothing Sales                  22339          22339        22339   22339
Cobbler                           453            453          453     453
Communications                     96             96           96      96
Computer                           54             54           54      54
Computers                         376            376          376     376
Construction                     2145           2145         2145    2145
Construction Supplies            2003           2003         2003    2003
Consumer Goods                    613            613          613     613
Cosmetics Sales                  4740           4740         4740    4740
Crafts                           4084           4084         4084    4084
Dairy                            7914           7914         7914    7914
Decorations Sales                 385            385          385     385
Dental                            290            290          290     290
Education provider               4401           4401         4401    4401
Electrical Goods                  409            409          409     409
Electrician                       284            284          284     284
Electronics Repair                400            400          400     400
Electronics Sales                 546            546          546     546
Embroidery                       2380           2380         2380    2380
Energy                            190            190          190     190
Entertainment                     443            443          443     443
Event Planning                      5              5            5       5
Farm Supplies                    4352           4352         4352    4352
Farming                         72955          72955        72955   72955
Film                               13             13           13      13
Fish Selling                    13060          13060        13060   13060
Fishing                         10066          10066        10066   10066
Florist                            65             65           65      65
Flowers                           821            821          821     821
Food                            10197          10197        10197   10197
Food Market                      7091           7091         7091    7091
Food Production/Sales           28106          28106        28106   28106
Food Stall                       8905           8905         8905    8905
Fruits & Vegetables             16610          16610        16610   16610
Fuel/Firewood                    1925           1925         1925    1925
Funerals                           41             41           41      41
Furniture Making                 2051           2051         2051    2051
Games                             238            238          238     238
General Store                   64729          64729        64729   64729
Goods Distribution                277            277          277     277
Grocery Store                   15102          15102        15102   15102
Hardware                          953            953          953     953
Health                           1235           1235         1235    1235
Higher education costs          19742          19742        19742   19742
Home Appliances                 20267          20267        20267   20267
Home Energy                      7141           7141         7141    7141
Home Products Sales              3817           3817         3817    3817
Hotel                             274            274          274     274
Internet Cafe                     986            986          986     986
Jewelry                          1371           1371         1371    1371
Knitting                          416            416          416     416
Land Rental                       277            277          277     277
Landscaping / Gardening            34             34           34      34
Laundry                           295            295          295     295
Liquor Store / Off-License       1558           1558         1558    1558
Livestock                       13095          13095        13095   13095
Machine Shop                      165            165          165     165
Machinery Rental                  131            131          131     131
Manufacturing                    2643           2643         2643    2643
Medical Clinic                    323            323          323     323
Metal Shop                        898            898          898     898
Milk Sales                       1771           1771         1771    1771
Mobile Phones                     657            657          657     657
Mobile Transactions               216            216          216     216
Motorcycle Repair                 449            449          449     449
Motorcycle Transport             5888           5888         5888    5888
Movie Tapes & DVDs                135            135          135     135
Music Discs & Tapes                81             81           81      81
Musical Instruments                69             69           69      69
Musical Performance               149            149          149     149
Natural Medicines                 814            814          814     814
Office Supplies                   362            362          362     362
Paper Sales                       289            289          289     289
Party Supplies                    110            110          110     110
Patchwork                          22             22           22      22
Perfumes                          328            328          328     328
Personal Care Products              7              7            7       7
Personal Expenses                6656           6656         6656    6656
Personal Housing Expenses       32448          32448        32448   32448
Personal Medical Expenses        5549           5549         5549    5549
Personal Products Sales          3866           3866         3866    3866
Pharmacy                         1012           1012         1012    1012
Phone Accessories                 486            486          486     486
Phone Repair                      119            119          119     119
Phone Use Sales                  1019           1019         1019    1019
Photography                       396            396          396     396
Pigs                            26624          26624        26624   26624
Plastics Sales                    568            568          568     568
Poultry                          9783           9783         9783    9783
Primary/secondary school costs   6816           6816         6816    6816
Printing                          434            434          434     434
Property                         1283           1283         1283    1283
Pub                               902            902          902     902
Quarrying                         158            158          158     158
Recycled Materials                819            819          819     819
Recycling                         358            358          358     358
Religious Articles                 68             68           68      68
Renewable Energy Products         585            585          585     585
Restaurant                       4981           4981         4981    4981
Retail                          24771          24771        24771   24771
Rickshaw                         2878           2878         2878    2878
Secretarial Services               89             89           89      89
Services                         9807           9807         9807    9807
Sewing                           8414           8414         8414    8414
Shoe Sales                       2760           2760         2760    2760
Souvenir Sales                    180            180          180     180
Spare Parts                      1260           1260         1260    1260
Sporting Good Sales                78             78           78      78
Tailoring                        9657           9657         9657    9657
Taxi                             2631           2631         2631    2631
Technology                        178            178          178     178
Textiles                         1023           1023         1023    1023
Timber Sales                      502            502          502     502
Tourism                           187            187          187     187
Transportation                   4121           4121         4121    4121
Traveling Sales                   144            144          144     144
Upholstery                        115            115          115     115
Used Clothing                    4637           4637         4637    4637
Used Shoes                        752            752          752     752
Utilities                         185            185          185     185
Vehicle                          1257           1257         1257    1257
Vehicle Repairs                   615            615          615     615
Veterinary Sales                  198            198          198     198
Waste Management                  308            308          308     308
Water Distribution                564            564          564     564
Weaving                          2961           2961         2961    2961
Wedding Expenses                  405            405          405     405
Well digging                       42             42           42      42
Wholesale                         357            357          357     357

                                  use  country_code  country  region  \
activity
Adult Care                          2             2        2       2
Agriculture                     26689         27023    27023   21897
Air Conditioning                   36            36       36      33
Animal Sales                     9212          9237     9237    9016
Aquaculture                       108           108      108     108
Arts                             1089          1092     1092     775
Auto Repair                      1319          1336     1336    1177
Bakery                           3579          3620     3620    3218
Balut-Making                       61            61       61      61
Barber Shop                       943           951      951     869
Beauty Salon                     6554          6611     6611    6099
Beekeeping                         50            50       50      50
Beverages                        2330          2357     2357    2053
Bicycle Repair                    157           158      158     133
Bicycle Sales                      54            54       54      48
Blacksmith                        443           444      444     422
Bookbinding                        29            29       29      29
Bookstore                         440           442      442     412
Bricks                            511           512      512     487
Butcher Shop                     1943          1968     1968    1817
Cafe                             1389          1404     1404    1271
Call Center                        73            74       74      67
Carpentry                         741           754      754     673
Catering                          649           653      653     632
Cattle                           7834          7865     7865    7539
Celebrations                        5             5        5       5
Cement                            152           152      152     148
Cereals                          7883          7898     7898    7651
Charcoal Sales                   4410          4421     4421    4308
Cheese Making                     342           347      347     304
Child Care                        181           183      183     110
Cleaning Services                 144           145      145      26
Cloth & Dressmaking Supplies     2058          2071     2071    1944
Clothing                         4931          5014     5014    3106
Clothing Sales                  22194         22339    22339   20474
Cobbler                           446           453      453     422
Communications                     94            96       96       7
Computer                           54            54       54      52
Computers                         373           376      376     358
Construction                     2113          2145     2145    1844
Construction Supplies            1978          2003     2003    1874
Consumer Goods                    612           613      613     608
Cosmetics Sales                  4689          4740     4740    3596
Crafts                           4038          4084     4084    3344
Dairy                            7847          7914     7914    7698
Decorations Sales                 378           385      385     336
Dental                            289           290      290     284
Education provider               4368          4401     4401    4081
Electrical Goods                  405           409      409     390
Electrician                       283           284      284     259
Electronics Repair                394           400      400     357
Electronics Sales                 543           546      546     515
Embroidery                       2377          2380     2380    2281
Energy                            186           190      190       3
Entertainment                     437           443      443     268
Event Planning                      5             5        5       5
Farm Supplies                    4312          4352     4352    3901
Farming                         72621         72955    72955   70118
Film                               12            13       13      12
Fish Selling                    13037         13060    13060   12666
Fishing                         10044         10066    10066    9929
Florist                            65            65       65      41
Flowers                           819           821      821     788
Food                            10111         10197    10197    9430
Food Market                      7049          7091     7091    6088
Food Production/Sales           27904         28106    28106   23596
Food Stall                       8811          8905     8905    8404
Fruits & Vegetables             16498         16610    16610   15194
Fuel/Firewood                    1916          1925     1925    1820
Funerals                           41            41       41      39
Furniture Making                 2032          2051     2051    1904
Games                             235           238      238     222
General Store                   64517         64729    64729   60860
Goods Distribution                274           277      277     272
Grocery Store                   14962         15102    15102   13025
Hardware                          950           953      953     888
Health                           1210          1235     1235    1008
Higher education costs          19622         19742    19742   19309
Home Appliances                 20250         20267    20267   20242
Home Energy                      7046          7141     7141    6529
Home Products Sales              3776          3817     3817    3528
Hotel                             273           274      274     271
Internet Cafe                     977           986      986     942
Jewelry                          1360          1371     1371    1234
Knitting                          416           416      416     318
Land Rental                       273           277      277     263
Landscaping / Gardening            34            34       34       7
Laundry                           287           295      295     280
Liquor Store / Off-License       1545          1558     1558    1507
Livestock                       13056         13095    13095   12391
Machine Shop                      165           165      165     164
Machinery Rental                  129           131      131     128
Manufacturing                    2627          2643     2643    2541
Medical Clinic                    319           323      323     306
Metal Shop                        884           898      898     754
Milk Sales                       1770          1771     1771    1725
Mobile Phones                     652           657      657     603
Mobile Transactions               216           216      216     212
Motorcycle Repair                 444           449      449     421
Motorcycle Transport             5871          5888     5888    5814
Movie Tapes & DVDs                133           135      135     124
Music Discs & Tapes                80            81       81      70
Musical Instruments                68            69       69      66
Musical Performance               148           149      149     131
Natural Medicines                 811           814      814     739
Office Supplies                   362           362      362     351
Paper Sales                       286           289      289     286
Party Supplies                    107           110      110      90
Patchwork                          20            22       22      19
Perfumes                          327           328      328     307
Personal Care Products              7             7        7       6
Personal Expenses                6639          6656     6656    6608

In [18]:
df_loans.groupby('partner_id').median()[['funded_amount', 'loan_amount', 'lender_count']]

            funded_amount  loan_amount  lender_count
partner_id
9.0                1050.0       1150.0          32.0
15.0                600.0        600.0          18.0
23.0                450.0        500.0          14.0
26.0               1325.0       1400.0          41.5
30.0               1550.0       1675.0          45.0
40.0                350.0        350.0          12.0
42.0               1650.0       1650.0          46.0
44.0               3275.0       3350.0         103.0
48.0                875.0       1025.0          26.0
55.0               3800.0       3950.0          95.0
56.0               1275.0       1300.0          38.0
57.0                600.0        600.0          20.0
58.0               2400.0       2425.0          22.0
59.0               4300.0       4475.0         100.0
61.0               1000.0       1000.0          30.0
62.0                375.0        375.0          13.0
63.0                575.0        625.0          16.0
65.0                475.0        700.0          12.0
71.0                550.0        550.0          20.0
74.0                550.0        600.0          16.0
77.0               1500.0       1500.0          36.0
78.0                850.0        875.0          21.0
80.0               1500.0       1500.0          37.0
81.0                500.0        500.0          14.0
82.0               1300.0       1300.0          36.0
85.0                725.0        725.0          24.0
87.0                925.0        975.0          25.0
93.0               1900.0       1900.0          17.0
96.0                875.0       1000.0          27.0
97.0                750.0        800.0          22.0
...                   ...          ...           ...
505.0             50000.0      50000.0        1589.0
506.0             25000.0      50000.0         674.5
507.0               825.0        825.0          27.0
508.0             25000.0      25000.0         747.0
509.0             50000.0      50000.0        1609.0
510.0             50000.0      50000.0         720.0
511.0             35000.0      35000.0        1152.0
512.0             50000.0      50000.0        1402.0
513.0             40000.0      40000.0        1210.0
514.0             50000.0      50000.0        1689.0
515.0             40000.0      40000.0        1330.0
516.0             50000.0      50000.0         782.0
517.0             50000.0      50000.0        1671.0
518.0             30000.0      30000.0         817.0
520.0             50000.0      50000.0        1094.0
521.0             22500.0      50000.0         684.0
523.0             50000.0      50000.0        1688.0
524.0             50000.0      50000.0        1564.0
525.0             10000.0      10000.0         313.0
526.0             50000.0      50000.0        1170.0
527.0              1175.0       1450.0          39.0
528.0               575.0        575.0          23.0
529.0             36000.0      36000.0        1180.0
530.0             30000.0      30000.0         970.0
531.0             30000.0      30000.0         588.0
532.0             13225.0      50000.0         447.0
533.0               125.0        175.0           4.0
534.0              7812.5      10000.0         283.5
535.0             25000.0      25000.0         785.0
536.0             46125.0      50000.0         805.0

[366 rows x 3 columns]

In [21]:
df_loans.sort_values(by='funded_amount', ascending=False)

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
70499,722883,100000.0,100000.0,Agriculture,Agriculture,create more than 300 jobs for women and farmer...,HT,Haiti,Les Cayes,USD,315.0,2014-06-10 19:25:02+00:00,2014-09-08 07:00:00+00:00,2014-06-19 20:21:04+00:00,75.0,2986,"user_favorite, user_favorite, user_favorite, u...",female,irregular,2014-06-10
492809,1152957,50000.0,50000.0,Agriculture,Agriculture,"to expand weather, farming information and fin...",GH,Ghana,Accra,USD,490.0,2016-09-19 13:08:02+00:00,2016-11-30 08:00:00+00:00,2016-10-17 18:36:56+00:00,14.0,1481,"#Technology, #Technology, #Sustainable Ag, use...",male,irregular,2016-09-19
604502,1266423,50000.0,50000.0,Agriculture,Agriculture,to add value and jobs to the local economy by ...,BJ,Benin,Parakou,USD,478.0,2017-03-24 21:53:03+00:00,2017-02-22 08:00:00+00:00,2017-04-18 06:42:43+00:00,12.0,1519,"user_favorite, user_favorite, user_favorite, u...",male,irregular,2017-03-24
490191,1150277,50000.0,50000.0,Health,Health,To purchase raw materials in order to produce ...,GH,Ghana,Accra,USD,489.0,2016-09-14 13:03:24+00:00,2016-11-30 08:00:00+00:00,2016-09-19 20:06:54+00:00,14.0,1569,"#Health and Sanitation, #Biz Durable Asset, #E...",male,irregular,2016-09-14
126839,777718,50000.0,50000.0,Agriculture,Agriculture,to buy and plant resin producing pine trees. T...,MX,Mexico,Cherán,USD,376.0,2014-10-01 20:46:15+00:00,2014-08-31 07:00:00+00:00,2014-12-07 17:02:10+00:00,144.0,586,"user_favorite, user_favorite, #Biz Durable Ass...","male, male, male, male, male, male, male, female",irregular,2014-10-01
538248,1198658,50000.0,50000.0,Agriculture,Agriculture,"to enable 5,000 additional small-holder farmer...",KE,Kenya,Nanyuki,USD,505.0,2016-12-05 15:00:24+00:00,2017-01-31 08:00:00+00:00,2016-12-19 23:47:20+00:00,14.0,1589,"user_favorite, user_favorite, #Eco-friendly, #...",male,monthly,2016-12-05
408295,1055043,50000.0,50000.0,Clothing,Clothing,to set up a garment social business that will ...,AL,Albania,Cerrik,USD,315.0,2016-04-15 16:09:28+00:00,2016-05-16 07:00:00+00:00,2016-04-21 17:25:45+00:00,97.0,1626,"user_favorite, user_favorite, user_favorite, u...",male,monthly,2016-04-15
523659,1183916,50000.0,50000.0,Electronics Sales,Retail,to train & equip 200 rural merchants in Mozamb...,MZ,Mozambique,Maputo,USD,492.0,2016-11-12 02:45:29+00:00,2016-12-31 08:00:00+00:00,2016-12-18 14:10:28+00:00,14.0,1410,"#Biz Durable Asset, #Technology, #Job Creator,...",female,irregular,2016-11-12
565733,1226382,50000.0,50000.0,Agriculture,Agriculture,to pay 600 farming families 100% above market ...,EC,Ecuador,Quito,USD,514.0,2017-01-25 00:25:00+00:00,2017-03-31 07:00:00+00:00,2017-02-21 10:49:58+00:00,14.0,1689,"user_favorite, user_favorite, user_favorite, u...",female,irregular,2017-01-25
621860,1283951,50000.0,50000.0,Renewable Energy Products,Retail,to distribute 400 pay-as-you-go solar home sys...,KE,Kenya,Nairobi,USD,526.0,2017-04-21 22:46:44+00:00,2017-05-31 07:00:00+00:00,2017-05-01 15:26:03+00:00,14.0,1170,"#Eco-friendly, #Technology, user_favorite, use...",male,irregular,2017-04-21
496715,1156972,50000.0,50000.0,Agriculture,Agriculture,"to fund the harvest of seeds of 6,000 smallhol...",MG,Madagascar,Tsihombe,USD,313.0,2016-09-24 09:08:14+00:00,2016-10-28 07:00:00+00:00,2016-11-10 09:34:50+00:00,22.0,1606,"user_favorite, user_favorite, user_favorite, u...",male,irregular,2016-09-24
548513,1209262,50000.0,50000.0,Renewable Energy Products,Retail,to distribute solar home systems throughout ru...,ZW,Zimbabwe,Harare,USD,510.0,2016-12-22 16:45:53+00:00,2017-02-28 08:00:00+00:00,2016-12-25 06:55:37+00:00,13.0,720,"#Biz Durable Asset, #Eco-friendly, #Technology...",male,monthly,2016-12-22
523634,1183609,50000.0,50000.0,Health,Health,"to mitigate CO2 & household air pollution, whi...",MW,Malawi,NaN,USD,431.0,2016-11-11 11:12:32+00:00,2017-02-03 08:00:00+00:00,2016-11-21 19:33:23+00:00,24.0,1465,"#Health and Sanitation, user_favorite, #Eco-fr...",male,irregular,2016-11-11
494470,1154951,50000.0,50000.0,Agriculture,Agriculture,To pay smallholder coffee farmers in rural Ken...,KE,Kenya,Nairobi,USD,491.0,2016-09-21 19:31:42+00:00,2016-11-30 08:00:00+00:00,2016-10-17 22:37:04+00:00,15.0,1441,"#Woman Owned Biz, #Sustainable Ag, #Woman Owne...",female,irregular,2016-09-21
447374,1107992,50000.0,50000.0,Agriculture,Agriculture,to increase smallholder farmers’ incomes by bu...,UG,Uganda,Kampala,USD,482.0,2016-06-28 13:33:27+00:00,2016-08-31 07:00:00+00:00,2016-07-18 01:15:54+00:00,13.0,1555,"user_favorite, #Eco-friendly, #Sustainable Ag,...",male,monthly,2016-06-28
544548,1205071,50000.0,50000.0,Health,Health,to provide community trauma services in South ...,SS,South Sudan,Juba,USD,509.0,2016-12-16 17:07:25+00:00,2017-01-31 08:00:00+00:00,2016-12-18 07:04:32+00:00,8.0,1609,"#Female Education, #Health and Sanitation, #Un...",female,bullet,2016-12-16
614922,1277084,50000.0,50000.0,Water Distribution,Services,to set up 13 new clean water businesses in nor...,GH,Ghana,Tamale,USD,523.0,2017-04-10 20:36:23+00:00,2017-05-31 07:00:00+00:00,2017-04-21 17:01:16+00:00,14.0,1688,"user_favorite, user_favorite, #Job Creator, #E...",female,irregular,2017-04-10
53634,706146,50000.0,50000.0,Renewable Energy Products,Retail,To buy and sell Barefoot Power solar lighting.,UG,Uganda,Kampala,USD,212.0,2014-05-06 09:25:03+00:00,2014-07-06 07:00:00+00:00,2014-05-18 15:31:08+00:00,14.0,1581,"#Eco-friendly, #Biz Durable Asset, #Post-disbu...",female,bullet,2014-05-06
618264,1280213,50000.0,50000.0,Farming,Agriculture,to provide income opportunities in remote Indo...,ID,Indonesia,Simeulue,USD,524.0,2017-04-17 13:23:04+00:00,2017-05-31 07:00:00+00:00,2017-05-18 16:10:02+00:00,14.0,1564,"user_favorite, #Job Creator, #Sustainable Ag, ...",male,irregular,2017-04-17
34196,687045,50000.0,50000.0,Renewable Energy Products,Retail,to buy and sell Barefoot Power's Solar Lightin...,PE,Peru,Arequipa,USD,212.0,2014-03-21 05:25:02+00:00,2014-05-21 07:00:00+00:00,2014-04-18 06:32:55+00:00,14.0,1446,"user_favorite, user_favorite, #Eco-friendly, #...",male,irregular,2014-03-21
563074,1223392,50000.0,50000.0,Renewable Energy Products,Retail,to provide life-changing clean cookstoves and ...,KE,Kenya,Nairobi,USD,512.0,2017-01-20 00:49:43+00:00,2017-02-28 08:00:00+00:00,2017-01-28 17:04:15+00:00,14.0,1402,"#Eco-friendly, #Technology, user_favorite, use...",female,irregular,2017-01-20
631904,1294308,50000.0,50000.0,Agriculture,Agriculture,double cashew nut export output and hire about...,CI,Cote D'Ivoire,Kolia,USD,478.0,2017-05-08 17:04:17+00:00,2017-04-08 07:00:00+00:00,2017-05-18 05:06:35+00:00,10.0,1706,"user_favorite, user_favorite, #Vegan, #Job Cre...",female,irregular,2017-05-08
583307,1245201,50000.0,50000.0,Agriculture,Agriculture,to support 800+ farmers by improving their pro...,GT,Guatemala,Quetzaltenango,USD,517.0,2017-02-23 23:49:12+00:00,2017-03-31 07:00:00+00:00,2017-03-22 23:32:13+00:00,20.0,1671,"user_favorite, user_favorite, user_favorite, u...",male,monthly,2017-02-23
408465,1055190,50000.0,50000.0,Construction,Construction,NaN,PE,Peru,NaN,USD,429.0,2016-04-15 21:35:35+00:00,2016-05-31 07:00:00+00:00,2016-05-17 16:30:32+00:00,73.0,1310,"#Eco-friendly, #Job Creator, #Biz Durable Asse...",NaN,irregular,2016-04-15
210975,859201,50000.0,50000.0,Agriculture,Agriculture,To work with 17 farming cooperatives to proces...,RW,Rwanda,Kigali,USD,319.0,2015-03-20 15:38:45+00:00,2015-03-01 08:00:00+00:00,2015-04-18 13:51:34+00:00,8.0,1302,"user_favorite, user_favorite, user_favorite, #...",male,bullet,2015-03-20
614869,1277100,50000.0,50000.0,Furniture Making,Manufacturing,create jobs through environmentally-friendly m...,KE,Kenya,Nairobi,USD,520.0,2017-04-10 21:38:55+00:00,2017-05-31 07:00:00+00:00,2017-05-17 20:31:19+00:00,20.0,1094,"user_favorite, #Biz Durable Asset, #Eco-friend...",male,irregular,2017-04-10
163727,812995,50000.0,50000.0,Agriculture,Agriculture,to fund its growing loan book and further deve...,KE,Kenya,Nairobi,USD,156.0,2014-12-10 16:25:04+00:00,2015-01-01 08:00:00+00:00,2015-01-19 01:22:44+00:00,38.0,1343,"user_favorite, user_favorite, user_favorite, u...",female,bullet,2014-12-10
43182,695450,50000.0,50000.0,Renewable Energy Products,Retail,To buy and sell Barefoot Power's solar lightin...,KE,Kenya,Nairobi,USD,212.0,2014-04-09 08:25:02+00:00,2014-06-09 07:00:00+00:00,2014-04-19 19:27:30+00:00,16.0,1491,"user_favorite, user_favorite, user_favorite, u...",male,bullet,2014-04-09
586970,1247422,50000.0,50000.0,Renewable Energy Products,Retail,to generate income to over 600 fishermen in Ta...,TZ,Tanzania,MUSOMA,USD,516.0,2017-02-28 01:24:32+00:00,2017-03-31 07:00:00+00:00,2017-03-03 22:41:45+00:00,14.0,782,"#Eco-friendly, user_favorite, #Eco-friendly, #...",female,irregular,2017-02-28
526100,1186897,50000.0,50000.0,Renewable Energy Products,Retail,to distribute 200+ innovative & affordable pay...,ZM,Zambia,Lusaka,USD,503.0,2016-11-17 13:43:28+00:00,2016-12-31 08:00:00+00:00,2016-11-20 22:18:00+00:00,14.0,1550,"#Technology, #Eco-friendly, #Job Creator, user...",male,irregular,2016-11-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423739,1096815,0.0,10000.0,Food Production/Sales,Food,buy equipment and start lease,US,United States,NaN,USD,NaN,2016-05-17 15:30:06+00:00,NaN,NaN,36.0,0,NaN,male,bullet,2016-05-17
657612,1320263,0.0,300.0,Farming,Agriculture,to buy farm inputs such as fertilizer and seed...,KE,Kenya,Kitale,KES,156.0,2017-06-15 06:24:32+00:00,2017-06-14 07:00:00+00:00,NaN,14.0,0,#Parent,male,monthly,2017-06-15
657615,1320161,0.0,1050.0,Farming,Agriculture,to buy fertilizer to improve her farmland.,KH,Cambodia,"Pursat province, Phnom Kror Vanh district",KHR,204.0,2017-06-15 03:58:19+00:00,2017-05-17 07:00:00+00:00,NaN,14.0,0,"#Repeat Borrower, #Vegan","female, female, female",monthly,2017-06-15
37993,1080853,0.0,5000.0,Services,Services,purchase additional supplies and expand my bus...,US,United States,NaN,USD,NaN,2014-03-28 20:06:14+00:00,NaN,NaN,24.0,0,NaN,male,bullet,2014-03-28
422055,1068456,0.0,350.0,Farming,Agriculture,to purchase improved farm inputs that will inc...,NG,Nigeria,Kaduna,NGN,288.0,2016-05-13 08:06:04+00:00,2016-07-15 07:00:00+00:00,NaN,19.0,0,"#Parent, #Vegan",male,bullet,2016-05-13
350325,1090607,0.0,3000.0,Services,Services,catch up on all of my bills so I am not const...,US,United States,NaN,USD,NaN,2015-12-18 15:21:47+00:00,NaN,NaN,24.0,0,NaN,female,bullet,2015-12-18
668932,1333852,0.0,425.0,Pub,Food,to purchase sodas and beers to sell.,UG,Uganda,Ishaka,UGX,222.0,2017-07-05 10:04:50+00:00,2017-06-06 07:00:00+00:00,NaN,12.0,0,"#Parent, user_favorite",female,monthly,2017-07-05
516927,1181985,0.0,5950.0,Food Production/Sales,Food,boost my advertising budget and purchase equi...,US,United States,NaN,USD,NaN,2016-10-30 14:01:31+00:00,NaN,NaN,36.0,0,NaN,female,bullet,2016-10-30
657460,1320388,0.0,625.0,Farming,Agriculture,"to buy more seeds, fertilizers, and pesticide ...",KH,Cambodia,"Tbaung Khmum Province, Dambae District",KHR,204.0,2017-06-15 08:11:01+00:00,2017-05-17 07:00:00+00:00,NaN,26.0,0,NaN,female,monthly,2017-06-15
275489,1089752,0.0,3000.0,Grocery Store,Food,finance renovations to my storefront and purch...,US,United States,NaN,USD,NaN,2015-07-24 20:43:11+00:00,NaN,NaN,6.0,0,NaN,male,bullet,2015-07-24
421871,1068771,0.0,525.0,General Store,Retail,buy inputs to stock up the store like sodas an...,CO,Colombia,San Carlos,COP,177.0,2016-05-13 20:06:02+00:00,2016-04-14 07:00:00+00:00,NaN,20.0,0,#Parent,male,bullet,2016-05-13
666183,1329813,0.0,325.0,Food Market,Food,"to buy more onions, palm oil, rice, sugar, gar...",SL,Sierra Leone,Masingbi town,SLL,183.0,2017-06-29 15:08:42+00:00,2017-06-16 07:00:00+00:00,NaN,11.0,0,#Parent,female,irregular,2017-06-29
668927,1333903,0.0,325.0,Clothing Sales,Clothing,"to buy more creams, T-shirts, spray, and dress...",LR,Liberia,Buchanan,LRD,182.0,2017-07-05 10:56:18+00:00,2017-06-05 07:00:00+00:00,NaN,11.0,0,volunteer_pick,female,irregular,2017-07-05
668928,1334186,0.0,500.0,General Store,Retail,to buy a selection at wholesale such as snacks...,CO,Colombia,Apartadó,COP,177.0,2017-07-05 20:19:36+00:00,2017-06-05 07:00:00+00:00,NaN,14.0,0,#Woman Owned Biz,female,bullet,2017-07-05
666182,1329684,0.0,400.0,Food Market,Food,"to buy more rice, oil, pepper, salt and other ...",LR,Liberia,New Kru,LRD,182.0,2017-06-29 11:41:11+00:00,2017-06-14 07:00:00+00:00,NaN,11.0,0,"#Parent, #Woman Owned Biz",female,irregular,2017-06-29
657468,1320452,0.0,300.0,Farming,Agriculture,\tto pay for farm inputs and hired labor to gr...,KE,Kenya,Kitale,KES,156.0,2017-06-15 09:09:34+00:00,2017-06-14 07:00:00+00:00,NaN,14.0,0,"#Woman Owned Biz, #Job Creator, #Parent",female,monthly,2017-06-15
666180,1329938,0.0,500.0,Food Production/Sales,Food,to buy corn for selling tortillas.,SV,El Salvador,La Unión,USD,199.0,2017-06-29 18:24:04+00:00,2017-06-22 07:00:00+00:00,NaN,14.0,0,#Woman Owned Biz,female,monthly,2017-06-29
666179,1329624,0.0,275.0,Grocery Store,Food,provide working capital to buy cabbages and ba...,KE,Kenya,Narok,KES,386.0,2017-06-29 10:05:32+00:00,2017-05-31 07:00:00+00:00,NaN,8.0,0,"user_favorite, #Parent, #Supporting Family, #V...",male,irregular,2017-06-29
668944,1333989,0.0,200.0,Farming,Agriculture,to purchase improved farm inputs to increase f...,NG,Nigeria,Kaduna,NGN,288.0,2017-07-05 12:02:26+00:00,2017-07-11 07:00:00+00:00,NaN,19.0,0,"#Vegan, #Parent, #Repeat Borrower",male,bullet,2017-07-05
639085,1300886,0.0,850.0,Cattle,Agriculture,NaN,UG,Uganda,NaN,UGX,163.0,2017-05-18 09:00:01+00:00,2017-04-19 07:00:00+00:00,NaN,12.0,0,"#Repeat Borrower, #Animals, #Biz Durable Asset",NaN,monthly,2017-05-18
657470,1320311,0.0,500.0,Tailoring,Services,to buy more stock of tailoring materials.,KE,Kenya,Busia,KES,138.0,2017-06-15 06:56:18+00:00,2017-06-07 07:00:00+00:00,NaN,14.0,0,"volunteer_pick, #Parent, #Fabrics, #First Loan",male,monthly,2017-06-15
668936,1333517,0.0,1500.0,Vehicle,Personal Use,to pay for a trailer,KH,Cambodia,Kampong Cham,USD,106.0,2017-07-05 04:28:43+00:00,2017-06-23 07:00:00+00:00,NaN,26.0,0,user_favorite,female,monthly,2017-07-05
624884,1287067,0.0,1000.0,Food Production/Sales,Food,NaN,US,United States,NaN,USD,NaN,2017-04-26 00:00:00+00:00,NaN,NaN,12.0,0,NaN,NaN,bullet,2017-04-26
650607,1313021,0.0,5000.0,Entertainment,Entertainment,me launch my owner operated tour product in m...,US,United States,NaN,USD,NaN,2017-06-04 00:00:00+00:00,NaN,NaN,24.0,0,NaN,male,bullet,2017-06-04
668939,1333985,0.0,400.0,Personal Medical Expenses,Health,to pay for her daughter’s treatment at the med...,TJ,Tajikistan,Dushanbe,TJS,100.0,2017-07-05 12:00:44+00:00,2017-06-07 07:00:00+00:00,NaN,20.0,0,#Health and Sanitation,female,monthly,2017-07-05
666175,1329673,0.0,375.0,Farming,Agriculture,to purchase improved farm inputs that will inc...,NG,Nigeria,Kaduna,NGN,288.0,2017-06-29 11:24:52+00:00,2017-05-31 07:00:00+00:00,NaN,21.0,0,"#Vegan, #Parent, #Repeat Borrower, #Schooling",male,bullet,2017-06-29
668941,1333666,0.0,400.0,Tailoring,Services,to buy more materials for making clothes and s...,KE,Kenya,Kisumu,KES,386.0,2017-07-05 07:44:17+00:00,2017-06-29 07:00:00+00:00,NaN,14.0,0,#Fabrics,female,irregular,2017-07-05
657503,1320754,0.0,1025.0,Cosmetics Sales,Retail,to purchase cosmetics.,NI,Nicaragua,Managua,NIO,120.0,2017-06-15 20:22:49+00:00,2017-06-07 07:00:00+00:00,NaN,14.0,0,"#Repeat Borrower, #Woman Owned Biz",male,monthly,2017-06-15
657522,1320386,0.0,550.0,Vehicle,Personal Use,to buy a second handmotor for traveling.,KH,Cambodia,"Tbaung Khmum Province, Dambae District",KHR,204.0,2017-06-15 08:07:14+00:00,2017-05-17 07:00:00+00:00,NaN,26.0,0,"user_favorite, #Biz Durable Asset, #Parent, #V...",female,monthly,2017-06-15
671204,1340339,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,NaN,KES,138.0,2017-07-26 06:31:46+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-26

In [29]:
all_tags = [x.split() for x in df_loans['tags'].dropna()]

In [42]:
tags = []
for tagset in all_tags:
    tags.extend(tagset)
cleaned_tags = []
for tag in tags:
    tag = tag.replace(",", "")
    tag = tag.replace("#", "")
    cleaned_tags.append(tag)

In [43]:
tags_series = pd.Series(tags)

In [44]:
tags_series.unique()

array(['user_favorite,', 'user_favorite', '#Elderly,', '#Woman', 'Owned',
       'Biz', '#Repeat', 'Borrower,', 'Biz,', '#Parent', '#Parent,',
       '#Elderly', '#Vegan', '#Eco-friendly,', '#Sustainable', 'Ag,',
       '#Schooling,', 'volunteer_pick', '#First', 'Loan,', '#Low-profit',
       'FP,', '#Post-disbursed,', '#Health', 'and', 'Sanitation,',
       '#Fabrics,', '#Supporting', 'Family', '#Single', 'Parent', '#Biz',
       'Durable', 'Asset,', '#Interesting', 'Photo', '#Single,',
       '#Schooling', 'Family,', '#Vegan,', 'Photo,', 'Parent,',
       '#Widowed,', 'Loan', '#Inspiring', 'Story,', '#Animals,',
       '#Refugee,', 'FP', 'volunteer_pick,', '#Job', 'Creator',
       '#Eco-friendly', '#Hidden', 'Gem', 'Gem,', '#Post-disbursed',
       'Creator,', 'Borrower', 'volunteer_like,', 'volunteer_like',
       '#Animals', 'Asset', '#Fabrics', '#Unique,', 'Sanitation', 'Story',
       '#Unique', 'Ag', '#Widowed', '#Tourism,', '#Tourism', '#Orphan,',
       '#Refugee', '#Orphan', '#Trees', '#Female', 'Education',
       'Education,', '#Technology', '#Trees,', '#Technology,', '#Repair',
       'Renew', 'Replace', 'Replace,', 'user_like,'], dtype=object)

## Ideas

* We could use Series.str.contains to predict something based on the tag included with the loan

* Predicting loan amount / funding percentage based on activity or sector ('area of greatest need?')

* Predicting funded time - posted time (equiv. to time-to-fund) based on words found in 'use' (bag-of-words, PCA on the words contained in 'use'?)

* Predicting loan amount based on words found in 'use' (compare decision trees, other things)